<div class="subtitle">
  {{#if currentUser}}
    {{homepage-pledge_signedin}}
  {{else}}
    <div class="subtext">
        <p>
        HSP World is for people who have the Highly Sensitive Person (HSP) Trait. We’re about spreading awareness and providing HSPs with helpful information. You don’t need to Sign Up or pay a fee to use the Library, News Feed, or Products & Services areas. To access the Community you can Sign Up.
        </p><p>
        The <b>HSP Library</b> is filled with resources HSPs can browse, the <b>HSP News Feed</b> is updated daily and the <b>HSP Products & Services</b> area is filled with products HSPs may find find useful and helpful. Feel free to use the Search Bar if you’re looking for something specific.
        </p><p>
        15 - 20% of the population have the Trait, not sure if you do?
        Click here to <a href="https://hsperson.com/test/highly-sensitive-test/" 
        target="_blank">take the self-test</a>.
        </p>  
    </div>
  {{/if}}
</div>

<div class="homepage-categories">
  {{#if currentUser}}
    {{#each model as |category|}}
      {{homepage-category category=category
                          showLogin="showLogin"}}
    {{/each}}
  {{else}}
    {{#each firstCategories as |category|}}
      {{homepage-category category=category
                          showLogin="showLogin"}}
    {{/each}}
    
    <div class="between-categories">
        <div class="subtext">
          <p>
         We’re excited and committed to continue building a place just for HSPs and we plan on offering places In HSP World for HSPs to connect; in one or more <b>Private Groups</b> and in the <b>Professionals Only</b> area.
          </p><p>
          If you’re interested in being involved we’d love to invite you to join us. Click the Pledge and Join button.
          </p>
        </div>
      {{homepage-pledge_signedout}}
    </div>
    
    {{#each secondCategories as |category|}}
      {{homepage-category category=category
                          showLogin="showLogin"}}
    {{/each}}
  {{/if}}
</div>

<div class='footer'>
  <p style="text-align:center;">
    <font size="2">
      Copyright &#169; 2019 HSP World | 
      <a href="https://blog.hsp.world/">Blog</a> | 
      <a href="https://hsp.world/tos">Terms of Service</a>| 
      <a href="https://hsp.world/privacy">Privacy Policy</a> 
    </font>
  </p>
</div>