<div class="subtitle">
  {{#if currentUser}}
    <div class="subtext">
      {{i18n "hsp.pledge_and_join"}}
    </div>
    {{homepage-pledge_signedin}}
  {{else}}
    <div class="subtext">
      {{i18n "hsp.introduction"}}
    </div>
  {{/if}}
</div>

<div class="homepage-categories">
  {{#if currentUser}}
    {{#each model as |category|}}
      {{homepage-category category=category
                          showLogin="showLogin"}}
    {{/each}}
  {{else}}
    {{#each firstCategories as |category|}}
      {{homepage-category category=category
                          showLogin="showLogin"}}
    {{/each}}
    
    <div class="between-categories">
        <div class="subtext">
          {{i18n "hsp.pledge_and_join"}}
        </div>
      {{homepage-pledge_signedout}}
    </div>
    
    {{#each secondCategories as |category|}}
      {{homepage-category category=category
                          showLogin="showLogin"}}
    {{/each}}
  {{/if}}
</div>

<div class='footer'>
  <p style="text-align:center;">
    <font size="1">
      Copyright &#169; 2019 HSP World | 
      <a href="https://blog.hsp.world/">Blog</a> | 
      <a href="https://hsp.world/tos">Terms of Service</a>| 
      <a href="https://hsp.world/privacy">Privacy Policy</a> 
    </font>
  </p>
</div>