<div class="subtitle">
  {{#if currentUser}}
    <div class="subtext">
      {{i18n "hsp.pledge_and_join"}}
    </div>
    {{homepage-pledge_signedin}}
  {{else}}
    <div class="subtext">
        <p>
        HSP World is for people who have the Highly Sensitive Person (HSP) Trait. 
        We're about spreading awareness and providing HSPs with helpful information. 
        You don't need to sign up or pay a fee to use the Library, News Feed or Products 
        areas, they're free.
        </p><p>
        The HSP Library is filled with resources HSPs can browse, the HSP News Feed is 
        updated daily and the HSP Products area is filled with products HSPs may find
        find useful and helpful.  Feel free to use the Search Bar if you looking for 
        something specific.
        </p><p>
        Fifteen to 20% of the population have the Trait, not sure if you do?
        Click here to <a href="https://hsperson.com/test/highly-sensitive-test/" 
        target="_blank">take the self-test</a>.
        </p>  
    </div>
  {{/if}}
</div>

<div class="homepage-categories">
  {{#if currentUser}}
    {{#each model as |category|}}
      {{homepage-category category=category
                          showLogin="showLogin"}}
    {{/each}}
  {{else}}
    {{#each firstCategories as |category|}}
      {{homepage-category category=category
                          showLogin="showLogin"}}
    {{/each}}
    
    <div class="between-categories">
        <div class="subtext">
          {{i18n "hsp.pledge_and_join"}}
        </div>
      {{homepage-pledge_signedout}}
    </div>
    
    {{#each secondCategories as |category|}}
      {{homepage-category category=category
                          showLogin="showLogin"}}
    {{/each}}
  {{/if}}
</div>

<div class='footer'>
  <p style="text-align:center;">
    <font size="1">
      Copyright &#169; 2019 HSP World | 
      <a href="https://blog.hsp.world/">Blog</a> | 
      <a href="https://hsp.world/tos">Terms of Service</a>| 
      <a href="https://hsp.world/privacy">Privacy Policy</a> 
    </font>
  </p>
</div>