<div class="subtitle">
  {{#if currentUser}}
  <div class="subtextcenter">
   <p>
     If you find these free <b>HSP Resources</b> helpful please support us by donating. 
     </p><p>
    We appreciate and <b>thank you</b> for your support. 
   </p>
   </div>
   {{#if site.mobileView}}
    {{homepage-donate-mobile}}
   {{else}} 
   {{homepage-donate}}
   {{/if}} 
  {{else}}
    <div class="subtext">
        <p>
        <b>HSP World</b> is for people who have the Highly Sensitive Person (HSP) Trait. 
        </p><p>
          We’re about growing awareness of the HSP Trait and providing HSPs with helpful information. 
        </p><p>
        You don’t need to Sign Up or pay a fee to browse the Library, News Feed,
        Products & Services areas or to Sign Up and join the Community. 
        </p><p>
        The <b>HSP Library</b> is filled with resources HSPs can check out (videos, podcast, books, etc.), the <b>HSP News Feed</b> is updated daily and the <b>HSP Products & Services</b> area is filled with products HSPs may find useful and helpful. 
        </p><p>
        15 - 20% of the population have the Trait, not sure if you do?
        Click here to <a href="https://hsperson.com/test/highly-sensitive-test/" 
        target="_blank">take the self-test</a>.
        </p>
        <p>
         Support our growing Library, News Feed and Products areas by donating. We appreciate and <b>thank you</b> for your support. 
          </p>  
    </div>
    {{#if site.mobileView}}
    {{homepage-donate}}
   {{else}} 
   {{homepage-donate}}
   {{/if}} 
  {{/if}}
</div>

<div class="homepage-categories">
  {{#if currentUser}}
    {{#each model as |category|}}
      {{homepage-category category=category
                          showLogin="showLogin"}}
    {{/each}}
  {{else}}
    {{#each firstCategories as |category|}}
      {{homepage-category category=category
                          showLogin="showLogin"}}
    {{/each}}
    
    <div class="between-categories">
    <div class="subtext">
      <p>
We’re excited and committed to continue playing and building a place just for
HSPs.
</p><p>
We’re working on offering places In HSP World for HSPs to connect; in the
<b>Services</b> area, in one or more <b>Private Groups</b>, and in the <b>Professionals Only</b> area.
</p><p>
If you’re interested in getting involved we invite you to join us. Click the button to
Become a Patron. 
      </p>
    </div>
    {{#if site.mobileView}}
    {{homepage-pledge}}
    {{else}} 
    {{homepage-pledge}}
    {{/if}} 

    </div>
    
    {{#each secondCategories as |category|}}
      {{homepage-category category=category
                          showLogin="showLogin"}}
    {{/each}}
  {{/if}}
  
  <div class="after-categories">
{{#if currentUser}}
     <div class="subtext">
      <p>
We’re excited and committed to continue playing and building a place just for
HSPs.
</p><p>
We’re working on offering places In HSP World for HSPs to connect; in the
<b>Services</b> area, in one or more <b>Private Groups</b>, and in the <b>Professionals Only</b> area.
</p><p>
If you’re interested in getting involved we invite you to join us. Click the button to
Become a Patron. 
      </p>
    </div>
    <div class="pledge">
    {{#if site.mobileView}}
    {{homepage-pledge}}
    {{else}} 
    {{homepage-pledge}}
    {{/if}}   
    </div>
{{/if}}
    </div>

</div>

<div class='footer'>
  <p style="text-align:center;">
    <font size="2">
      Copyright &#169; 2019 HSP World | 
      <a href="https://blog.hsp.world/">Blog</a> | 
      <a href="https://hsp.world/tos">Terms of Service</a>| 
      <a href="https://hsp.world/privacy">Privacy Policy</a>|
      <a href="https://hsp.world/faq">FAQ</a> 
    </font>
  </p>
</div>